.weather{
    width: 265px;
    border-radius: 10px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 40%);
    color: #fff;
    background-color: #D6AD60;
    margin: 40px auto;
    padding: 5px 15px;
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row {
    display: flex;
    justify-content: space-between;
}

.city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
    margin-top: 5px;
}

.weather-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    margin: 0;
}

.weather-icon{
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 60px;
    margin: 10px 0;
    letter-spacing: -5px;
    width: auto;
}

.details {
    padding-left: 10px;
    width: 100%;
}

.label {
    font-weight: 400;
    text-align: left;
    font-size: 12px;
}

.value {
    font-weight: 600;
    font-size: 12px;
    text-align: right;
}